/* Hotel Natoma */

article, aside, body, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, header, li, nav, ol, p, section, table, th, td, ul {
  margin: 0;
  padding: 0;
  }
article, aside, figure, header, footer, nav {
  display: block;
  }
article {
  padding: 10px;
  }
body {
  font-family: tahoma, verdana, arial, sans-serif;
  margin: 0 auto;
  width: 960px;
  }
figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.1em;
  width: 100%;
  margin-bottom: 0.5em;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.6);
  }
figure {
  display: block;
  float: right;
  margin: 0 0 0.5em 1em;
  text-align: center;
  position: relative;
  }
figure img {
  display: block;
  margin-bottom: 0.5em;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  }
footer {
  border-top: 0.25em solid #082008;
  border-left: 0;
  clear: both;
  text-align: center;
  background: #93AD78;
  /* Rounding the bottom right corner of the box */
  border-bottom-right-radius: 35px;
  }
footer p {
  padding: 0.5em;
  }
h1 {
  text-align: center;
  font-family: PTSansCaption, georgia, "times new roman", times, serif;
  font-weight: normal;
  background: #082008;
  color: white;
  font-size: 2em;
  /* Rounding the top left corner */
  border-top-left-radius: 35px;
  }
h2 {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 15px;
  }
ol {
  padding-left: 40px;
  }
ul {
  padding-left: 40px;
  }
#box {
  border: 0.25em solid #082008;
  background: #FDF5E6;
  position: relative;
  /*Rounding of the entire box's corners to match the other adjustments*/
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  }
#logo {
  background: #082008;
  }
#logo img {
  display: block;
  margin: 0 auto;
  }
#mainnav {
  text-align: center;
  padding: 0.5em;
  border-bottom: 0.25em solid #082008;
  background: #93AD78;
  margin: 0;
  }
#mainnav li {
  display: inline;
  list-style-type: none;
  padding: 4px 12px;
  background: #082008;
  /* Rounding of top left and bottom right of nav buttons*/
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  }
#mainnav li a {
  text-decoration: none;
  }


.center {
  margin: 0 auto;
  }
.center img {
  display: block;
  padding: 0 0 2em 0;
  margin: 0 auto;
  }
.right {
  margin: 0 1em 0 0;
  float: right;
  clear: right;
  }
.right img {
  display: block;
  }
a:link {
  color: black;
  }
a:visited {
  color: #082008;
  }
a:hover {
  text-decoration: underline;
  }
a:active {
  color: #082008;
  }
#mainnav a:link, #skipnav a:link {
  color: white;
  }
#mainnav a:visited, #skipnav a:visited {
  color: #ffffcc;
  }
#mainnav a:hover, #skipnav a:hover {
  text-decoration: underline;
  }
#mainnav a:active, #skipnav a:active {
  color: white;
  }