body {
	background: #CCCCCC;
}

h1{
	text-align: center;
}

.d{
	width: 200px;
	height: 200px;
	float: left; /*This is what keeps the structure together*/
	background: #FFCC99;
	border: 3px solid #663333;
	margin-left: 3px;
}

#contact{
	text-align: right;
	padding: 0.5em;
	background: #000066;
	border-top: 3px solid red;
	border-bottom: 5px solid red;
	clear: both;
	color: white;
}

#box{
	width: 840px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background: #000066;
}